body {
  margin: 10px;
	padding: 10px;
  background-color: lightgray;
}
header {
  justify-content: space-between;
	align-items: flex-end;
	display: flex;
  padding: 10px;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: dodgerblue;
}
nav li {
    float: left;
}
li a {
    display: block;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: slategray;
}
.logo {
    list-style-type: none;
    justify-content: space-between;
  	align-items: flex-end;
  	display: flex;
    margin: auto;
    padding-right: 400px;
    padding-left: 400px;
}
body p {
    text-align:center;
    justify-content: space-between;
}
li img {
  width: 100px;
  height: 100px;
}
aside {
	justify-content: space-between;
	align-items: flex-end;
	display: flex;
  padding: 10px;
  background-size: cover;
}
main {
  justify-content: space-between;
	align-items: flex-end;
	display: flex;
  padding: 10px;
  background-size: cover;
}
.texte {
  text-align:center;
  font-size: 3em;
  text-shadow:2.5px 2.5px blue;
  color: black;
}
form {
	width: 60%;
	margin: auto;
  padding: 30px;
	border-radius: 15px;
	border: 2px solid lightgray;
  background-color: gainsboro;
	box-shadow: 2px 2px;
}
form.form-example {
    display: table;
}
li.form-contact {
    display: table;
    font-size: 1.2em;
    text-shadow:1px 1px blue;
    color: slategray;
}
label, input {
    display: table;
    font-size: 1.5em;
    text-shadow:1px 1px blue;
    color: slategray;
    margin-bottom: 10px;
}
label {
    padding-right: 10px;
}
select {
    font-size: .9rem;
    padding: 2px 5px;
}
#commentaire {
  width: 500px;
  height: 100px;
}
/*
label {
    font-size: 1rem;
    padding-right: 10px;
}
*/
